.profile {
  width: 400px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  background-color: #f0f0f0;
  justify-content: center;
  padding-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;

}

.tag {
  font-size: 16px;
  color: #1d1a1a;

}

.location {
  font-size: 16px;
  color: #1d1b1b;
  margin-bottom: 20px;

}

.stats {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  border: 1px solid #c0baba;
  padding: 20px 40px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: #908f8f;
  text-transform: capitalize;
}

.quantity {
  font-size: 20px;
  font-weight: bold;

}

.stats li:nth-child(2) {
  background-color: #cacaca;

  /* Колір фону для блоку 2 */
}

.stats li:nth-child(3) {
  background-color: #cacaca;

  /* Колір фону для блоку 3 */
}